@font-face {
  font-family: Graphik-Extralight;
  src: url(/fonts/Graphik-Extralight.otf?02088dd0ef38df2459de330b0848e8dd) format("opentype");
  font-weight: bolder;
  font-style: normal;
}
/*- General -*/
html, body, #app {
  font-family: Graphik-Extralight;
  background-color: #273138;
  color: #F9FAFA;
  margin: 0px;
  width: 100%;
  height: 100%;
}

.w-100 {
  width: 100%;
}

.w-50 {
  width: 50%;
}

.w-33 {
  width: 33%;
}

.w-66 {
  width: 66%;
}

.d-flex {
  display: flex !important;
}

.flex-flow-c {
  flex-flow: column;
}

.flex-flow-r {
  flex-flow: row;
}

.jc-center {
  justify-content: center;
}

.jc-start {
  justify-content: flex-start;
}

.jc-end {
  justify-content: flex-end;
}

.jc-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.text-center {
  text-align: center;
}

.text-start {
  text-align: start;
}

.text-end {
  text-align: end;
}

input, select, textarea {
  border-radius: 4px;
  flex-grow: 10;
  border: none;
  height: 25px;
  outline: none;
}

textarea {
  resize: none;
  height: 80px;
}

input:focus, select:focus, textarea:focus {
  border: 3px solid #02B300;
}

label {
  flex-grow: 1;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  font-size: 18px;
  text-align: end;
}

.input-block {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
}

.d-small-none {
  display: inline;
}

.d-small {
  display: none;
}

.titulo {
  position: relative;
  font-size: 35px;
}

.titulo:after {
  content: "";
  height: 3px;
  width: 50px;
  background: #02B300;
  position: absolute;
  left: calc(50% - 25px);
  bottom: -10px;
}

.subtitulo {
  color: #7B7D7E;
  margin: 10px 10% 50px 10%;
}

.no-decoration {
  text-decoration: none;
}

.m-5 {
  margin: 5px;
}

.m-10 {
  margin: 10px;
}

.m-15 {
  margin: 15px;
}

.mx-5 {
  margin-left: 5px;
  margin-right: 5px;
}

.mx-10 {
  margin-left: 10px;
  margin-right: 10px;
}

.mx-15 {
  margin-left: 15px;
  margin-right: 15px;
}

.mx-25 {
  margin-left: 25px;
  margin-right: 25px;
}

.my-5 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.my-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.my-15 {
  margin-top: 15px;
  margin-bottom: 15px;
}

.mt-separador {
  margin-top: 50px;
}

.text-primary {
  color: #F9FAFA !important;
}

.text-secondary {
  color: #7B7D7E !important;
}

.text-danger {
  color: #FF2742 !important;
}

.text-accent {
  color: #02B300 !important;
}

button, .button {
  background-color: #02B300;
  color: #F9FAFA;
  border: none;
  text-decoration: none;
  padding: 15px 30px 15px 30px;
  text-align: center;
  font-size: 16px;
  display: inline-flex;
  border-radius: 5px;
  text-transform: uppercase;
}

button.transparent, .button.transparent {
  background-color: transparent;
  border: #02B300;
  border-style: groove;
  color: #02B300;
}

.material-icons {
  vertical-align: middle;
}

/*- Header -*/
header {
  display: flex;
  flex-flow: column wrap;
  background-image: url(/images/wallpaper_sky.jpg?8c638b19d5e11741ccef5022bbb38fdb);
  background-size: cover;
  background-repeat: no-repeat;
  align-items: flex-start;
  justify-content: space-between;
  height: 600px;
}
header nav {
  display: flex;
  width: 100%;
  align-items: center;
  flex-flow: row;
}
header nav .dropdown {
  flex-flow: row;
}
header nav div, header nav section, header nav article {
  display: flex;
}
header nav .logo {
  flex-grow: 1;
}
header nav ul {
  display: flex;
  flex-flow: row;
  flex-grow: 10;
  justify-content: flex-end;
  list-style-type: none;
}
header nav li {
  margin: 0 10px 0 10px;
}
header nav li > a {
  color: #7B7D7E;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}
header nav .router-link-exact-active, header nav li > a:hover {
  color: #F9FAFA;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  -webkit-text-decoration-color: #02B300;
          text-decoration-color: #02B300;
  text-decoration-thickness: 4px;
}
header .center {
  align-self: center;
  text-align: center;
}
header .center h3 {
  font-size: 45px;
}
header .center h2 {
  font-size: 55px;
}
header .footer {
  background-color: black;
  width: 100%;
  padding: 20px 0 20px 0;
  text-align: center;
}

/*- Box Info -*/
.container_box {
  display: flex;
  margin: 0px;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  align-items: stretch;
}

.box_info {
  color: #7B7D7E;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-content: center;
  width: 20%;
  text-align: center;
  flex-grow: 1;
  padding: 50px;
}
.box_info h3 {
  margin: 10px;
  color: #02B300;
  font-size: 25px;
}
.box_info p {
  margin: 0 20% 0 20%;
}

.box_1 {
  background-color: #3B4148;
}

.box_2 {
  background-color: #161C21;
}

.box_3 {
  background-color: #202A37;
}

/*- Destacados -*/
.destacado-block {
  padding-top: 50px;
  display: flex;
  flex-flow: row;
}
.destacado-block img {
  max-width: 100%;
  max-height: 100%;
}
.destacado-block .descripcion .display {
  width: 50%;
}
.destacado-block .descripcion {
  padding: 60px 60px 20px 60px;
  flex-flow: column;
}
.destacado-block .descripcion .logo {
  width: auto;
  height: auto;
  max-width: 30%;
  max-height: 20%;
  text-align: start;
}
.destacado-block .descripcion .line-logo {
  margin: 15px 0 0 0;
  height: 4px;
  width: 10%;
  background-color: #02B300;
}
.destacado-block .descripcion p {
  text-align: start;
}
.destacado-block .descripcion h3 {
  margin-top: 25px;
  font-size: 35px;
}

.destacado-invertido {
  flex-flow: row-reverse;
}

/*- Footer -*/
.facebook-color {
  color: #4658BC;
}

.twitter-color {
  color: #0AD2FF;
}

.linkedin-color {
  color: #488CDC;
}

.youtube-color {
  color: #EB6F6F;
}

footer {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  height: 100px;
}
footer section {
  width: 33%;
}
footer .icon-center {
  position: absolute;
  left: calc(50% - 25px);
  margin-bottom: 100px;
  font-size: 50px;
}

/*--------- Small Devices ---------*/
@media (max-width: 768px) {
  /*-General-*/
  .d-small-none {
    display: none !important;
  }

  .d-small {
    display: inline-flex;
  }

  /*-- Box info --*/
  .box_info {
    padding: 25px;
    width: 100%;
  }
  .box_info p {
    margin: 0 10% 0 10%;
  }

  /*- Destacado -*/
  .destacado-block {
    flex-flow: column-reverse;
  }
  .destacado-block .descripcion .display {
    width: 100%;
  }

  /*-Header-*/
  header {
    background-image: none;
    background-color: black;
    height: 100px;
  }
  header nav {
    position: relative;
  }
  header nav .dropdown {
    flex-flow: column;
  }
  header nav ul {
    display: none;
    position: absolute;
    flex-flow: column;
    background-color: #273138;
    z-index: 100;
    right: 0px;
    top: 90px;
    margin: 0;
    border: 3px solid #02B300;
  }
  header nav li {
    padding: 5px 0 5px 0;
  }
  header nav .dropdown:hover ul {
    display: block;
  }

  /*- Footer -*/
  footer {
    flex-flow: column;
    height: auto;
  }
  footer section {
    width: 100%;
  }

  /*-Forms-*/
  .input-block {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
  }
}
